<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Title</title>
</head>
<body style="direction:rtl;text-align:right;">

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  {% if not user.is_authenticated %}
            <li><a href="{% url 'app:user_login' %}">Login</a></li>
        {% else %}
            <a class="nav-link" href="{% url 'app:index' %}">صفحه نخست</a>
            <a class="nav-link" href="{% url 'app:student-list' %}">صفحه ی دانشجوها</a>
            <a class="nav-link" href="{% url 'app:teacher-list' %}">صفحه ی اساتید</a>
            <a class="nav-link" href="{% url 'app:lesson-list' %}">صفحه ی دروس ارایه شده ترم</a>
            <a class="nav-link" href="{% url 'app:final' %}">صفحه ی انتخاب واحد</a>
            <a class="nav-link" href="{% url 'app:logout' %}">خروج از حساب</a>


        {% endif %}
  <a class="navbar-brand" href="#"></a>

</nav>
    <div class="container jumbotron">
        <div class="row" >
        <p>
        {% block base %}
        {% endblock %}
        </p>
        </div>
    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>